<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.combinatorics.midtermproject.dao.DepartmentDao">

  <resultMap id="DepartmentResultMap" type="team.combinatorics.midtermproject.model.po.DepartmentPO">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>


  <insert id="insert" parameterType="team.combinatorics.midtermproject.model.po.DepartmentPO">
    <selectKey keyProperty="dep.did" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into department (department_name)
    select #{dep.departmentName} from dual
    where not exists(select department_name from department where department_name = #{dep.departmentName})
  </insert>

  <update id="update" parameterType="team.combinatorics.midtermproject.model.po.DepartmentPO">
    update department
    <trim prefix="SET" suffixOverrides=",">
        <if test="dep.departmentName != null">
          department_name = #{dep.departmentName,jdbcType=VARCHAR}
        </if>
    </trim>
    where did = #{dep.did,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where did = #{did,jdbcType=INTEGER}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="DepartmentResultMap">
    select did, department_name
    from department
    where did = #{did,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="DepartmentResultMap">
    select did, department_name
    from department
    where did != 1
    order by did

  </select>

  <select id="countAll" resultType="java.lang.Integer">
    select count(*) from (select did from department) as dd
  </select>

</mapper>